*~
*.pyc
cscope.out
tags
Makefile.in
configure
config.h.in
aclocal.m4
autom4te.cache
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/libtool.m4
build-aux/lt*
build-aux/missing
gcc-build/
index.html
xylib-?.?.tar.bz2
*-build/
